%header.header
  .container
    %h1.header-title ShortyURL
    %p.header-copy Go ahead. Grab a link to one of your favorite recipes from Martha Stewart. Throw it in the box below and watch magic happen.
    = render 'partials/form'
    #latest_url
