#top-board
  .container
    %h2.title Top 100 Most Used
    %p I wonder if your little link is there?
  %table.top-board
    %thead
      %tr.header-row
        %th Subimtted
        %th shortened
        %th Uses
    %tbody
      - @shorties.each do |s|
        %tr
          %td= s.original
          %td= root_url + s.unique_key
          %td= s.use_count
