body {
  color: $main-font-color;
  font-family: $main-font;
  font-size: 14px;
  font-weight: $regular-font-weight;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
