.header {
  padding: 140px 0;
  max-width: 920px;
  margin: 0 auto;
  .header-title {
    font-family: $heading-font;
    font-size: 3em;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1.1px;
  }
  .header-copy {
    text-align: center;
    margin-bottom: 4rem;
  }
}
