// Variables

//
// Colors
//
$grey-black: #373334;
$almost-black: #242423;
$white: #fcfcfc;
$white-grey: #eaeaea;
$blue: #1e3c72;
$error-color: rgb(171, 32, 32);

// Font Colors
$main-font-color: $almost-black;

//
// Spacing
//
$header-padding-top: 73px;

//
// Fonts
//
$main-font: 'Open Sans', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$black-font-weight: 900;
$regular-font-weight: 400;
$light-font-weight: 300;
