.alert.alert-alert
  %span
    = pluralize(@shorty.errors.count, 'error')
    prohibited this url from being shortened:
  - @shorty.errors.full_messages.each do |msg|
    .alert-message
      %span= msg
